#header {
  height: 68px;
  background-color: white;
  border-bottom: 12px solid #df495b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  .toggle-link {
    display: none;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    .heading {
      color: #df495b;
      font-size: 24px;
      font-weight: 600;
    }
    .sub-heading {
      color: black;
      font-size: 10px;
    }
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation-link {
  color: #df495b;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .navigation-button {
    background-color: #df495b;
    border: 1px solid #df495b;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    button {
      background-color: #df495b;
      color: white;
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 600px) {
  #header {
    height: fit-content;
    padding: 0 30px !important;
    flex-direction: column;
    align-items: flex-start !important;
    .title-div {
      display: flex;
      justify-content: center;
      align-items: center;
      .toggle-link {
        display: flex;
      }
    }

    .navigation {
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
}
