<div id="header">
    <div class="title-div">
        <div class="navigation-link toggle-link" (click)="showHideNav()">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        <div class="title" (click)="navigateToHome()">
            <div class="heading">VISTA</div>
            <div class="sub-heading">-ROOMS-</div>
        </div>
    </div>
    <div class="navigation" [ngStyle]="{'display': showNav ? 'flex' : 'none'}">
        <div class="navigation-link">Cities</div>
        <div class="navigation-link">Prime Member</div>
        <div class="navigation-link">Explore</div>
        <div class="navigation-link">List Your Property</div>
        <div class="navigation-link">Need Help?</div>
        <div class="navigation-link">
            <div class="navigation-button">
                <button>Offers</button>
                <fa-icon [icon]="faBell"></fa-icon>
            </div>
        </div>
        <div class="navigation-link">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
        <div class="navigation-link">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>

    </div>
</div>