#occasions {
  .title-div {
    display: flex;
    width: 100%;
    padding: 20px 60px;
    .title {
      width: 70%;
      margin-top: 40px;
      padding: 0 60px;
      font-size: 42px;
      font-weight: bold;
      color: #434b52;
      text-transform: capitalize;
    }
    .enquiry-form {
      width: 30%;
      padding: 15px;
      background-color: #f3f3f4;
      .enquiry-heading {
        color: #3e4a4c;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      input,
      select {
        outline: none;
        border: 1px solid #434b52;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 8px 0;
        font-size: 22px;
        width: 100%;
      }
      button {
        margin: 5px 0;
        background-color: #df495b;
        border: 1px solid #df495b;
        font-size: 22px;
        color: white;
        outline: none;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
      }
    }
  }
  .virtual-celebrations-div {
    padding: 20px 120px;
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #434b52;
    .virtual-title {
      padding: 0 60px;
      text-transform: capitalize;
      font-size: 36px;
      font-weight: bold;
      color: #434b52;
      text-align: center;
    }
    .virtual-value {
      padding: 0 60px;
      font-size: 24px;
      margin-top: 25px;
      color: #3e4a4c;
    }
  }
  .events-div {
    padding: 20px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    color: #434b52;
    .events-title {
      padding: 0 60px;
      text-transform: capitalize;
      font-size: 36px;
      font-weight: bold;
      color: #434b52;
      text-align: center;
    }
    .events {
      width: 100%;
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .event {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 1px solid black;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .stores-div {
    padding: 20px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #434b52;
    .stores-title {
      padding: 0 60px;
      text-transform: capitalize;
      font-size: 36px;
      font-weight: bold;
      color: #434b52;
      text-align: center;
    }
    .stores {
      width: 100%;
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .store-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .store {
          padding: 15px;
        }
      }
      .store-img {
      }
    }
  }
  .services-div {
    padding: 20px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    color: #434b52;
    .services-title {
      padding: 0 60px;
      text-transform: capitalize;
      font-size: 36px;
      font-weight: bold;
      color: #434b52;
      text-align: center;
    }
    .services {
      width: 100%;
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .service {
        height: 350px;
        width: 300px;
        box-shadow: 0 0 10px lightgray;
        text-align: center;
        padding: 10px;
        img {
          object-fit: contain;
          width: 75%;
          height: 75%;
        }
      }
    }
  }
  .subscribe {
    height: 160px;
    padding: 20px 120px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #434b52;
    color: white;
    .detail {
      width: 50%;
      .heading {
        font-size: 32px;
      }
      .sub-heading {
        font-size: 24px;
      }
    }
    .field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      input {
        outline: none;
        border: 1px solid #434b52;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 22px;
        width: 100%;
      }
      button {
        margin: 5px 0;
        background-color: #df495b;
        border: 1px solid #df495b;
        font-size: 22px;
        color: white;
        outline: none;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
      }
    }
  }
  .destination {
    margin: 25px 0;
    .title {
      padding: 0 60px;
      text-transform: uppercase;
      font-size: 24px;
      color: #000000;
    }
    .destination-values-div {
      padding: 30px 95px;
      color: #3e4a4c;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .destination-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .destination-value {
          padding: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

.error {
  color: red;
  font-size: 12px;
}
