<div id="occasions">
    <div class="title-div">
        <div class="title">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official cepteur sint occaecat cupidatat
        </div>
        <div class="enquiry-form">
            <form [formGroup]="enquiryForm">
                <div class="enquiry-heading">Enquire Now!</div>
                <div>
                    <input type="text" formControlName="name" placeholder="Enter Name*">
                    <div *ngIf="enquiryForm.controls.name.errors">
                        <div class="error"
                            *ngIf="enquiryForm.controls.name.errors.required && enquiryForm.controls.name.touched">
                            Name is required</div>
                    </div>
                </div>
                <div>
                    <input type="text" formControlName="number" placeholder="Enter Mobile Number*">
                    <div *ngIf="enquiryForm.controls.number.errors">
                        <div class="error"
                            *ngIf="enquiryForm.controls.number.errors.required && enquiryForm.controls.number.touched">
                            Number is required</div>
                        <div class="error"
                            *ngIf="enquiryForm.controls.number.errors.minlength && enquiryForm.controls.number.touched">
                            Min length is 10</div>
                        <div class="error"
                            *ngIf="enquiryForm.controls.number.errors.maxlength && enquiryForm.controls.number.touched">
                            Max length is 10</div>
                    </div>
                </div>
                <div>
                    <input type="email" formControlName="email" placeholder="Enter Email ID*">
                    <div *ngIf="enquiryForm.controls.email.errors">
                        <div class="error"
                            *ngIf="enquiryForm.controls.email.errors.required && enquiryForm.controls.email.touched">
                            Email is required</div>
                        <div class="error"
                            *ngIf="enquiryForm.controls.email.errors.email && enquiryForm.controls.email.touched">
                            Email is not valid</div>
                    </div>
                </div>
                <select formControlName="groupSize">
                    <option value="">Enter Group Size</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select formControlName="location">
                    <option value="">Location on your mind</option>
                    <option value="delhi">Delhi</option>
                    <option value="mumbai">Mumbai</option>
                </select>
                <select formControlName="timeSlot">
                    <option value="">Select time slot</option>
                    <option value="morning">Morning</option>
                    <option value="evening">Evening</option>
                </select>
                <button (click)="enquire()">Enquire</button>
            </form>
        </div>
    </div>
    <div class="virtual-celebrations-div">
        <div class="virtual-title">What is vista virtual celebrations?</div>
        <div class="virtual-value">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official.Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui official, Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui official Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui official.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
        </div>
    </div>
    <div class="events-div">
        <div class="events-title">Events We Host</div>
        <div class="events">
            <div class="event" *ngFor="let x of events">
                <img [src]="'../../assets/' + x" alt="">
            </div>
        </div>
    </div>
    <div class="stores-div">
        <div class="stores-title">Whats In Store?</div>
        <div class="stores">
            <div class="store-list">
                <div class="store" *ngFor="let x of stores">{{x}}</div>
            </div>
            <div class="store-img"></div>
        </div>
    </div>
    <div class="services-div">
        <div class="services-title">Add-on Services</div>
        <div class="services">
            <div class="service" *ngFor="let x of services">
                <img [src]="'../../assets/' + x.img" alt="">
                <div>{{x.heading}}</div>
                <div>{{x.subHeading}} </div>
            </div>
        </div>
    </div>
    <div class="subscribe">
        <div class="detail">
            <div class="heading">Join our Tribe Today!</div>
            <div class="sub-heading">We promise we don’t spam & we are offering a 10% discount on your first booking
            </div>
        </div>
        <div class="field">
            <input type="text" placeholder="Enter Email Address">
            <button>SUBSCRIBE & SAVE TODAY</button>
        </div>
    </div>
    <div class="destination">
        <div class="title">POPULAR DESTINATIONS TO RENT A HOLIDAY HOME IN INDIA</div>
        <div class="destination-values-div">
            <div class="destination-values" *ngFor="let type of types">
                <div class="destination-value" *ngFor="let value of type.values">{{type.title}} in {{value}}</div>
            </div>
        </div>
    </div>
</div>