<div id="home">
    <div class="title">
        Explore Vista Virtual options Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official.
        cepteur sint occaecat cupidatat non proident, sunt in culpa qui official Excepteur sint
    </div>
    <div class="button-div">
        <button (click)="navigateToOccasions()">VIRTUAL OCCASIONS</button>
        <button (click)="navigateToOffsites()">VIRTUAL OFFSITES</button>
    </div>
    <div class="img-div">
        <img src="" alt="img">
    </div>
    <div class="subscribe">
        <div class="detail">
            <div class="heading">Join our Tribe Today!</div>
            <div class="sub-heading">We promise we don’t spam & we are offering a 10% discount on your first booking
            </div>
        </div>
        <div class="field">
            <input type="text" placeholder="Enter Email Address">
            <button>SUBSCRIBE & SAVE TODAY</button>
        </div>
    </div>
    <div class="destination">
        <div class="dest-title">POPULAR DESTINATIONS TO RENT A HOLIDAY HOME IN INDIA</div>
        <div class="destination-values-div">
            <div class="destination-values" *ngFor="let type of types">
                <div class="destination-value" title="{{type.title}} in {{value}}" *ngFor="let value of type.values">
                    {{type.title}} in {{value}}</div>
            </div>
        </div>
    </div>
</div>