#home {
  .title {
    margin-top: 40px;
    padding: 0 60px;
    font-size: 42px;
    font-weight: bold;
    color: #434b52;
    text-transform: capitalize;
  }
  .button-div {
    margin-top: 40px;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 25px;
      background-color: #df495b;
      border: 1px solid #df495b;
      font-size: 26px;
      color: white;
      border: none;
      outline: none;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 10px 15px;
    }
  }
  .img-div {
    padding: 0 60px;
    height: 600px;
    img {
      border: 1px solid lightgrey;
    }
  }
  .subscribe {
    height: 160px;
    padding: 20px 120px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #434b52;
    color: white;
    .detail {
      width: 50%;
      .heading {
        font-size: 32px;
      }
      .sub-heading {
        font-size: 24px;
      }
    }
    .field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      input {
        outline: none;
        border: 1px solid #434b52;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 22px;
        width: 100%;
      }
      button {
        margin: 5px 0;
        background-color: #df495b;
        border: 1px solid #df495b;
        font-size: 22px;
        color: white;
        outline: none;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
      }
    }
  }
  .destination {
    .dest-title {
      padding: 0 60px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
      color: #000000;
    }
    .destination-values-div {
      padding: 30px 95px;
      color: #3e4a4c;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .destination-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .destination-value {
          padding: 10px;
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #home {
    .title {
      margin-top: 20px !important;
      padding: 0 30px !important;
      font-size: 30px !important;
      font-weight: bold;
      color: #434b52;
      text-transform: capitalize;
    }
    .button-div {
      flex-direction: column;
      margin: 20px 0 !important;
      button {
        margin: 10px 25px !important;
        font-size: 20px !important;
      }
    }
    .img-div {
      padding: 0 30px !important;
      height: 600px;
      img {
        border: 1px solid lightgrey;
      }
    }
    .subscribe {
      height: 200px !important;
      padding: 10px 30px !important;
      flex-direction: column;
      .detail {
        width: 100% !important;
        margin-bottom: 10px;
        .heading {
          font-size: 22px !important;
        }
        .sub-heading {
          font-size: 18px !important;
        }
      }
      .field {
        width: 100% !important;
        input {
          font-size: 18px !important;
        }
        button {
          font-size: 18px !important;
        }
      }
    }
    .destination {
      .dest-title {
        margin-top: 20px !important;
        padding: 10px 30px !important;
      }
      .destination-values-div {
        padding: 10px 30px !important;
        flex-direction: column;
        .destination-values {
          justify-content: center;
          align-items: center;
          .destination-value {
            display: list-item;
            list-style-type: disc;
            list-style-position: inside;
          }
        }
      }
    }
  }
}
